<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengoofy.index12306.biz.ticketservice.dao.mapper.SeatMapper">

    <!-- 获取列车车厢余票集合 -->
    <select id="listSeatRemainingTicket" parameterType="org.opengoofy.index12306.biz.ticketservice.dao.entity.SeatDO"
            resultType="Integer">
        select count(*) as count
        from t_seat
        where train_id = #{seatDO.trainId}
        and start_station = #{seatDO.startStation}
        and end_station = #{seatDO.endStation}
        and seat_status = '0'
        and carriage_number in
        <foreach collection="trainCarriageList" item="carriage" open="(" separator="," close=")">
            #{carriage}
        </foreach>
        group by carriage_number
    </select>

    <select id="listSeatTypeCount" resultType="org.opengoofy.index12306.biz.ticketservice.dto.domain.SeatTypeCountDTO">
        select seat_type as seatType, count(*) as seatCount
        from t_seat
        where train_id = #{trainId}
        and start_station = #{startStation}
        and end_station = #{endStation}
        and seat_status = '0'
        and seat_type in
        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">
            #{seatType}
        </foreach>
        group by seat_type
        having seatCount > 0
    </select>
</mapper>